<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <style>
      .title{
        text-align: center;
        font-size: 100px;
      }
      h1 {
        font-family: 'Bahianita', cursive;
        text-align: center;
        color:red;
      }

      body{
        background-color: black;
      }

      .comrade {
        border-radius: 20px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 10%;
      }

      input [type = button]{
        background-color: red;
      }
    
      a.button {
        font-family: 'Bahianita', cursive;
        text-align: center;
        color:red;
        font-size: 100px;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      a.button:hover{
        color:blue;
        cursor:grabbing;
      } 
      
    </style>


    <meta charset="utf-8">
    <title>Twitter Botnet</title>
    <link rel="stylesheet" href="/Styles.css">
    <link href="https://fonts.googleapis.com/css?family=Bahianita&display=swap" rel="stylesheet">
  </head>
  <body>
    <H1 class = "title"> Become a Bot in the Botnet <H2>
    <div id = "homepage">
      <h1>Give us access to your Twitter account</h1>
      <h1>Contribute to the cause</h1>
      <img class = "comrade" src="./Commies.png" alt="We love russia">
    </div>
    <div class="Subscribe">
        <h1>Join us comrad</h1>
        <a class = "button" href="/auth/twitter">SUBMIT</a>
    </div>
  </body>
</html>
