<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <style>
      .title{
        text-align: center;
        font-size: 100px;
      }
      h1 {
        font-family: 'Bahianita', cursive;
        text-align: center;
        color:red;
      }

      body{
        background-color: black;
      }

      .comrade {
        border-radius: 20px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 10%;
      }

      input [type = button]{
        background-color: red;
      }
    
    </style>
    <meta charset="utf-8">
    <title>Twitter Botnet</title>
    <link rel="stylesheet" href="/Styles.css">
    <link href="https://fonts.googleapis.com/css?family=Bahianita&display=swap" rel="stylesheet">
  </head>
  <body>
    <h1>Login Failed</h1>
  </body>
</html>
