<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <style>
      .title{
        text-align: center;
        font-size: 100px;
      }

      h1 {
        font-family: 'Bahianita', cursive;
        text-align: center;
        color:red;
      }

      h3 {
        font-family: 'Bahianita', cursive;
        text-align: center;
        color:red;
      }

      body{
        background-color: black;
      }

      button{
        background-color: red;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        font-family: 'Bahianita', cursive;
        position: relative;
        font-size: 16px;
        border-radius: 20px;
      }

      button:hover{
        background-color:brown;
        cursor: grab;
      }

      input [type = button]{
        background-color: red;
      }
    
      a.button {
        font-family: 'Bahianita', cursive;
        text-align: center;
        color:red;
        font-size: 100px;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      a.button:hover{
        color:blue;
        cursor:grabbing;
      } 
      p{
        font-family: 'Bahianita', cursive;
        text-align: center;
        color:red;
        font-size:30px;
      }
    </style>
    <meta charset="utf-8">
    <title>Twitter Botnet</title>
    <link rel="stylesheet" href="/Styles.css">
    <link href="https://fonts.googleapis.com/css?family=Bahianita&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"> </script>  </head>
  <body>
    <H1 class = "title"></H1>
    <div id = "homepage">
      <h1>The Red Thread of Fate has been tied</h1>
      <h1>to your profile</h1>
    </div>
    
    <h1>What is the Red Thread?</h1>
    <div style="text-align:center;">
        <button>Click Here to Read More</button>
    </div>

    <div id = "view">

    </div>

    <div class = "chat">
      <h1>You are contributing to the Cause</h1>
      <a class = "button" href = "/profile/msg"> SPEAK TO COMRADES </a>
    </div>

    <div class="Unsubscribe">
      <h3>Press the BETRAY button to logout</h1>
      <a class = "button" href="/profile/logout">BETRAY THE NWO</a>
    </div>
    <script>
      $(document).ready(function(){
        $("button").click(function(){
          $("#view").load("/TOF.htm");
        });
      });
    </script>
  </body>
</html>
