<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <style>
      .title{
        text-align: center;
        font-size: 100px;
      }
      h1 {
        font-family: 'Bahianita', cursive;
        text-align: center;
        color:red;
      }

      h3 {
        font-family: 'Bahianita', cursive;
        text-align: center;
        color:red;
      }

      body{
        background-color: black;
      }


      input [type = button]{
        background-color: red;
      }
    
      a.button {
        font-family: 'Bahianita', cursive;
        text-align: center;
        color:red;
        font-size: 100px;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      a.button:hover{
        color:blue;
        cursor:grabbing;
      } 
    </style>
    <meta charset="utf-8">
    <title>Twitter Botnet</title>
    <link rel="stylesheet" href="/Styles.css">
    <link href="https://fonts.googleapis.com/css?family=Bahianita&display=swap" rel="stylesheet">
  </head>
  <body>
    <H1 class = "title"> добро пожаловать <H2>
    <div id = "homepage">
      <h1>The Red Thread of Fate has been tied</h1>
      <h1>to your profile</h1>
    </div>

    <div class = "chat">
      <h1>You are contributing to the Cause</h1>
      <a class = "button" href = "/profile/msg"> SPEAK TO COMRADES </a>
    </div>

    <div class="Unsubscribe">
      <h3>Press the BETRAY button to logout</h1>
      <a class = "button" href="/auth/logout">BETRAY THE USSR</a>
    </div>
  </body>
</html>
